@font-face {
     font-family: 'Helvetica';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/Helvetica/Helvetica.eot');
     src: local('Helvetica'), local('Helvetica'),
          url('../fonts/Helvetica/Helvetica.eot') format('embedded-opentype'),
          url('../fonts/Helvetica/Helvetica.woff2') format('woff2'),
          url('../fonts/Helvetica/Helvetica.woff') format('woff'),
          url('../fonts/Helvetica/Helvetica.ttf') format('truetype');
     
}

